<div id="footer" >
         <div id="footer_div">
            <!--<p class="text-muted">Copyrights Milan Mutic, Davor Nad, Nemanja Rogic, Petar Stošic</p>-->
            <!--<p style="border: 2 inset gray;border: 2 inset gray;background: black; position: fixed; bottom: 0; width:100%; text-align: center">{{stateText}}</p>-->
      
            
             <div class="state">
                <p id="stanje_footer">Stanje: </p>
                <p id="status_footer">{{stateText}} </p>
            </div>
            
            <div class="copy">
                
                <p id="copy_footer">Copyrights: Milan Mutić, Davor Nađ, Nemanja Rogić, Petar Stošić</p>  
            
            </div>
        </div>
</div>