<div id="forma">
    <form name="genericTableForm">
        
        <table style="margin-left:10px;border-collapse: separate; border-spacing: 0 5px;">

            <tr ng-repeat="field in firstColFields" >
                <!-- label in first column-->
                <td >
                    <span> {{field.show}}: </span>
                </td>

                <!-- input field in first column-->
                <td ng-if="field.isLookup == false">
                    
                    <input type="{{field.type}}" ng-model="tempFormData[field.varName]" class="form-control" ng-required="tempState == 0 || tempState == 1" ng-disabled="tempState == 0 && ((IDofSelectedItem == -1 && tempState == 0) || (selectedItem[enableField] != undefined && selectedItem[enableField] != enableValue) || field.enabled == 'false')"/>
                </td>

                <td ng-if="field.isLookup == true">
                        <select ng-model="tempFormData[field.refColumn]" class="form-control" ng-options="item[field.refColumn] as item[field.name] for item in field.lookupValues" ng-disabled="(tempState == 0 && (field.refColumn == parentIdName || (IDofSelectedItem==-1 && tempState == 0) || (selectedItem[enableField] != undefined && selectedItem[enableField] != enableValue) || field.enabled == 'false')) || field.refColumn == parentIdName" ng-required="tempState == 0 || tempState == 1" >
                            <option value="">Odaberite vrednost</option>
                        </select>
                </td>
                
                <td ng-if="field.isLookup == true">
                    <button class="form-control" ng-click="zoomAction(field.lookupTable, field.refColumn)" ng-disabled="(tempState == 0 && (field.refColumn == parentIdName || (IDofSelectedItem==-1 && tempState == 0) || (selectedItem[enableField] != undefined && selectedItem[enableField] != enableValue) || field.enabled == 'false')) || field.refColumn == parentIdName" style="margin-left:3px; display: inline;">...</button>
                </td>
                <td ng-if="field.isLookup == false">
                    &nbsp;
                </td>

                <!-- space between two columns -->
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                <!-- label in second column-->
                <td ng-if="$index < secondColFields.length">
                    <span>{{secondColFields[$index].show}}:</span>
                </td>
                <td ng-if="$index >= secondColFields.length">
                    <span>&nbsp;</span>
                </td>

                <!-- input field in second column-->
                <td ng-if="$index >= secondColFields.length">
                    <span>&nbsp;</span>
                </td>
                <td ng-if="$index < secondColFields.length && secondColFields[$index].isLookup == false">
                    <input type="{{secondColFields[$index].type}}" ng-model="tempFormData[secondColFields[$index].varName]" class="form-control" ng-required="tempState == 0 || tempState == 1" ng-disabled="tempState == 0 && (IDofSelectedItem == -1 && tempState == 0 ||  (selectedItem[enableField] != undefined && selectedItem[enableField] != enableValue) || secondColFields[$index].enabled == 'false')"/>
                </td>

                <!-- combobox for lookup values in second column -->

                <td ng-if="$index < secondColFields.length && secondColFields[$index].isLookup == true">
                        <select ng-model="tempFormData[secondColFields[$index].refColumn]" class="form-control"
                                ng-options="item[secondColFields[$index].refColumn] as item[secondColFields[$index].name] for item in secondColFields[$index].lookupValues" ng-disabled="(tempState == 0 && (secondColFields[$index].refColumn == parentIdName || (IDofSelectedItem == -1 && tempState == 0) || (selectedItem[enableField] != undefined && selectedItem[enableField] != enableValue) || secondColFields[$index].enabled == 'false')) || secondColFields[$index].refColumn == parentIdName" ng-required="tempState == 0 || tempState == 1">
                            <option value="">Odaberite vrednost</option>
                        </select>
                </td>
                
                <td ng-if="$index < secondColFields.length && secondColFields[$index].isLookup == true">
                    <button class="form-control" ng-click="zoomAction(secondColFields[$index].lookupTable, secondColFields[$index].refColumn)" ng-disabled="(tempState == 0 && (secondColFields[$index].refColumn == parentIdName || (IDofSelectedItem == -1 && tempState == 0) || (selectedItem[enableField] != undefined && selectedItem[enableField] != enableValue) || secondColFields[$index].enabled == 'false')) || secondColFields[$index].refColumn == parentIdName" style="margin-left:3px; display:inline;">...</button>
                </td>
                <td ng-if="$index < secondColFields.length && secondColFields[$index].isLookup == false">
                    &nbsp;
                </td>

                <!-- space between inputs and commit&rollback buttons -->
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>

                <td ng-if="$index == 0">
                    <button type="submit" class="btn btn-default" ng-click="commit()" style="margin-left:10px; background: #1f1f1f; color: #ffffff;" ng-disabled="IDofSelectedItem==-1 && tempState == 0">
                      <img src="images/commit.gif" width="20" /> Commit
                    </button>
                </td>
                <td ng-if="$index == 1 && firstColFields.length == 2">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </td>
                <td ng-if="$index == 1 || (firstColFields.length < 2 && $index == 0)">
                    <button class="btn btn-default" ng-click="rollback()" style="margin-left:10px; background: #1f1f1f; color: #ffffff;" >
                      <img src="images/remove.gif" width="20" /> Rollback
                    </button>

                </td>
            </tr>

        </table>
        
        <br/><br/>
        <span ng-repeat="sa in specialActions">
            <button class="btn btn-default" ng-click="specialAction(sa, $index)" style="margin-left:10px; background: #1f1f1f; color: #ffffff;"  ng-disabled="IDofSelectedItem==-1">
               {{sa.show}}
            </button>
        </span>
        
        <div ng-repeat="sa in specialActions">
            <form ng-if="sa.param!=undefined && specialActionsVisibility[$index]">
                
                <table style="margin-left:10px;border-collapse: separate; border-spacing: 0 5px;" ng-if="sa.param!=undefined && specialActionsVisibility[$index]">
                    <tr ng-repeat="p in sa.param" ng-if="p.show">
                        <td>{{p.show}}:</td>
                        <td><input ng-model="dtoObjectSA[p.text]" type="{{p.type}}" class="form-control"/></td>
                    </tr>
                    <tr>
                        <td><button class="form-control btn-primary" style="width: 100px;
                                margin-left: 100px;" ng-click="submitSpecialAction(sa, $index)">OK</button></td>
                        <td><button class="form-control btn-info" style="width: 100px;
                                margin-left: 2px;" ng-click="cancelSpecialAction($index)">Otkaži</button></td>
                    </tr>
                </table>
            </form>
        </div>
        
        
    </form>
    <br/><br/>

    
    
</div>