    <div ng-include="'templates/navbar.html'"></div>
<div class="container">
    <div ng-include="'templates/toolbar.html'"></div>
    <div ng-include="'templates/tabela.html'"></div>
    <div ng-include="'templates/forma.html'"></div>
    <div ng-include="'templates/footer.html'"></div>  

</div>  
    <div ng-include="'templates/footer.html'"></div>
