<div ng-include="'templates/navbar.html'"></div>

<div class="container" style="margin-left: 150px;">
    <p>Od:</p>
    <input style="width:200px;" class="form-control" type="date" ng-model="filter.od">
    <p>Do:</p>
    <input style="width:200px;" class="form-control" type="date" ng-model="filter.do">
    

    <button style="width:200px; margin-top:10px;" class="btn btn-success" ng-click="showReport(filter)">Prikaži</button>
    
</div>