<div class="container">

    	<div class="row" style="margin-top: 50px;">
			<div class="col-md-6 col-md-offset-3 row-">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#/login" class="active" id="login-form-link">Logovanje</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" name="login-form" ng-submit="login(user)" method="post" role="form" style="display: block;">
									<div class="form-group">
										<input type="email" name="username" tabindex="1" class="form-control" placeholder="Email" ng-model="user.username" required>
									</div>
                                    
									<div class="form-group">
										<input type="password" name="password" tabindex="2" class="form-control" placeholder="Lozinka" ng-model="user.password" required>
									</div>
									
                                    <div>
                                        <span style="color:red;">{{errorMesage}}</span>
                                        
                                    </div>
                                    <br/>
                                    
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" tabindex="3" class="form-control btn btn-login" value="Uloguj se">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>