<nav class="navbar navbar-default" ng-controller="navBarController" style="background: #1f1f1f;">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">

      <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #ffffff;">Tabele <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="table in tables" role="button" ng-click="clickOnTable(table.name)"><a>{{$index+1}}{{')  '+table.show}}</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #ffffff;">Izveštaji <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="button" ><a href="#/izlaznaFaktura">Izlazna faktura</a></li>
          </ul>
        </li>
    
    </ul>
     
      
       <ul class="nav navbar-nav navbar-right">
        <li><a role="button" ng-click="logout()" style="color:#ebebe0;">Odjavi se [{{email}}]</a></li>
    </ul>
  </div>
</nav>

