
<div style="overflow: auto; height: 400px; margin-top:3px;"> 
    <table st-table="displayedCollection" st-safe-src="data" class="table"  >
        <thead>
            <tr>
                <th  ng-repeat="attribute in attributes" ng-if="attribute.visibility == true" st-sort="{{attribute.name}}">{{attribute.show}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="d in data | filter : filterData" ng-click="selectItem(d, $index)" ng-class="{selectedRow: d === selectedItem}">
                <td ng-repeat="a in attributes" ng-if="a.visibility == true">

                        <p ng-if="a.type == 'date'">{{ d[a.varName] | date:'dd-MMM-yyyy' }}</p>
                        <p ng-if="a.type == 'text'">{{ d[a.varName] }}</p>

                </td>
            </tr>
        </tbody>
    </table>
</div>

