<div>
<h1>{{tableNameTOShow}}</h1>
    <div id="toolbar_div">
        <button class="btn btn-default" ng-click="search()" style="display:inline;">
                  <img src="images/search.gif" width="20" /> Pretraga
                </button>
        <button class="btn btn-default" ng-click="refresh()" style="display:inline;">
                      <img src="images/refresh.gif" width="20" /> Osveži
                    </button>
        <button class="btn btn-default" ng-click="zoomPickup()" style="display:inline;" ng-disabled="!isZoomActive || IDofSelectedItem==-1">
                      <img src="images/zoom-pickup.gif" width="20" /> Zoom-pickup
                    </button>
        <!--<button class="btn btn-default" ng-click="help()" style="display:inline;">
                      <img src="images/help.gif" width="20" /> Pomoć
                    </button>-->
        <button class="btn btn-default" ng-click="selectFirst()" style="display:inline;">
                      <img src="images/first.gif" width="20" /> Početak
                    </button>
        <button class="btn btn-default" ng-click="selectPrevouse()" style="display:inline;" ng-disabled="IDofSelectedItem==-1">
                      <img src="images/prev.gif" width="20" /> Prethodni
                    </button>

        <button class="btn btn-default" ng-click="selectNext()" style="display:inline;" ng-disabled="IDofSelectedItem==-1" >
                      <img src="images/next.gif" width="20" /> Sledeći
                    </button>
    
        <button class="btn btn-default" ng-click="selectLast()" style="display:inline;">
                      <img src="images/last.gif" width="20" /> Poslednji
                    </button>
        <button class="btn btn-default" ng-click="add()" style="display:inline;">
                      <img src="images/add.gif" width="20" /> Dodavanje
                    </button>


        <button class="btn btn-default" ng-click="delete()" style="display:inline;" ng-disabled="IDofSelectedItem==-1">
                      <img src="images/remove.gif" width="20" /> Obriši
                    </button>
        
        
        <li class="dropdown" style="display:inline;"> <!-- vratiti ispod div taga -->

        <button class="btn btn-default dropdown-toggle dropdown" ng-click="nextForm()" style="background: #1f1f1f; color: #ffffff; display:inline;"  data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false" ng-disabled="IDofSelectedItem==-1 || childTables.length == 0">
                  <img src="images/nextform.gif" width="20" /> Sledeća forma
         </button>

          <ul class="dropdown-menu">
            <li ng-repeat="table in childTables" role="button" ng-click="clickOnChildTable(table.name,table.primaryKey)"><a>{{$index+1}}{{'  '+table.show}}</a></li>
          </ul>
        </li>
        
    </div>
   
</div>
