#footer_div {
    width: 100%;
    height: 25px;
    margin: 0 auto;
    display: block;
    color: #ffffff;
    text-align: center;
    background: #1f1f1f;
    bottom: 0;
    position:fixed;
}

#footer_div .state {
    position: absolute;
    left: 15px;
    bottom: 0px;
    display: inline;
}

#footer_div .copy {
    display: inline;
    right: 15px;
    bottom: 0px;
    font-size: 15px;
}

div > p{
    display: inline;
}