.selectedRow {
    background-color: #e2f5cb;
    color: #2e2e2e;
}

thead{
    background-color: #3bb41e;
    color: #ffffff;
}

tbody{
    background: #ffffff;
}

th{
    border-style: solid;
    border-color: #ffffff;
}
